[submodule "libs/cimmerian"]
	path = libs/cimmerian
	url = https://github.com/DeanWilsonDev/cimmerian.git
[submodule "libs/amanuensis"]
	path = libs/amanuensis
	url = https://github.com/DeanWilsonDev/amanuensis.git
